[submodule "libs/bzip2"]
    path = libs/bzip2
    url = https://gitlab.com/bzip2/bzip2.git
    ignore = dirty
[submodule "libs/fmt"]
    path = libs/fmt
    url = https://github.com/fmtlib/fmt.git
    ignore = dirty
    branch = 10.0.0
[submodule "libs/lz4"]
    path = libs/lz4
    url = https://github.com/lz4/lz4.git
    ignore = dirty
    branch = v1.9.4
[submodule "libs/re2"]
    path = libs/re2
    url = https://github.com/google/re2.git
    ignore = dirty
    branch = 2023-03-01
[submodule "libs/strtk"]
    path = libs/strtk
    url = https://github.com/ArashPartow/strtk.git
    ignore = dirty
[submodule "libs/freetype"]
    path = libs/freetype
    url = https://gitlab.freedesktop.org/freetype/freetype.git
    ignore = dirty
    branch = VER-2-13-0
[submodule "libs/SDL"]
    path = libs/SDL
    url = https://github.com/libsdl-org/SDL.git
    ignore = dirty
    branch = release-2.28.2
[submodule "libs/SDL_image"]
    path = libs/SDL_image
    url = https://github.com/libsdl-org/SDL_image.git
    ignore = dirty
    branch = release-2.6.3
[submodule "libs/SDL_mixer"]
    path = libs/SDL_mixer
    url = https://github.com/libsdl-org/SDL_mixer.git
    ignore = dirty
    branch = release-2.6.3
[submodule "libs/glm"]
    path = libs/glm
    url = https://github.com/g-truc/glm.git
    ignore = dirty
    branch = master
[submodule "libs/volk"]
    path = libs/volk
    url = https://github.com/zeux/volk.git
    ignore = dirty
    branch = master
[submodule "libs/VulkanMemoryAllocator"]
    path = libs/VulkanMemoryAllocator
    url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
    ignore = dirty
    branch = master
[submodule "libs/glslang"]
    path = libs/glslang
    url = https://github.com/KhronosGroup/glslang.git
    ignore = dirty
    branch = 13.1.1
